footer {
    background-color: #065f56;
    color: white;
    margin-top: 220px;
    /*position: fixed;*/
    bottom: 0;

}

.footer-bottom p{
    margin: 0;
}

ul, li, a {
    color: white;
    font-family: Tahoma;
    font-size: medium;
}

header {
    background-color: #065f56;
    height: 58px;
}
.nav-item{
    color: #ff333e;
}
.nav-item:hover {
    color: #ff333e;
}

#content {
    min-height: 100%;
    margin-top: 40px
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    /*text-align: left;*/
    padding: 8px;
}
h1{
    text-align: center;
    margin-top: 40px;
}
#form{
    background-color: #2F4F4F;
    margin-left: 280px;
    width: 90%;

}
/*#myDiv {*/
/*    position: relative;*/
/*}*/

/*#myDiv a {*/
/*    position: absolute;*/
/*    top: 50px;*/
/*    left: 100px;*/
/*}*/

