footer {
    background-color: #065f56;
    color: white;
    margin-top: 220px;
}


ul, li, a {
    color: white;
    font-family: Tahoma;
    font-size: medium;
}

header nav {
    background-color: #065f56;
}
.nav-item{
    color: #ff333e;
}
.nav-item:hover {
    color: #ff333e;
}

#content {
    min-height: 100%;
    margin-top: 40px
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    /*text-align: left;*/
    padding: 8px;
}
h1{
    text-align: center;
    margin-top: 40px;
}
